<p>form-company-update works!</p>

<button mat-raised-button color="primary" routerLink="/companies">Retour</button>
<div id="wrapper">
    <h1>Formulaire de l'entreprise</h1>
    <form (ngSubmit)="updateCompany()" [formGroup]="form">
        <mat-form-field class="elem-form">
            <input type="text" matInput placeholder="Nom" required formControlName="name">
            <mat-error *ngIf="form.get('name').hasError('required')">
                Champs requis
            </mat-error>
        </mat-form-field>

        <span formGroupName="address">
            <mat-form-field class="elem-form">
                <input matInput placeholder="Localité" formControlName="locality" required>
            </mat-form-field>

            <mat-form-field class="elem-form">
                <input matInput placeholder="Code Postal" formControlName="postCode" required>
            </mat-form-field>

            <mat-form-field class="elem-form">
                <input matInput placeholder="Rue" formControlName="street">
            </mat-form-field>

            <mat-form-field class="elem-form">
                <input matInput placeholder="Numéro de la rue" formControlName="streetNumber">
            </mat-form-field>

            <mat-form-field class="elem-form">
                <input matInput placeholder="Pays" formControlName="country" required>
            </mat-form-field>
        </span>

        <mat-form-field class="elem-form">
            <textarea matInput placeholder="Description" formControlName="description"></textarea>
        </mat-form-field>

        <mat-checkbox formControlName="isPremium">Premium</mat-checkbox>

        <br>

        <button id=button mat-raised-button color="primary" [disabled]="!form.valid">Valider</button>
    </form>
</div>