<p>form-company works!</p>

<button mat-raised-button color="primary" routerLink="/companies">Retour</button>
<div id="wrapper">
    <h1>Formulaire de l'entreprise</h1>
    <form  (ngSubmit)="updateCompany()" [formGroup]="form">
        <mat-form-field class="elem-form">
            <input type="text" matInput placeholder="Email" required formControlName="email">
            <mat-error *ngIf="form.get('email').hasError('email')">
                Format d'email non valide
            </mat-error>
            <mat-error *ngIf="form.get('email').hasError('required')">
                Champs requis
            </mat-error>
        </mat-form-field>
    
        <mat-form-field class="elem-form">
            <input type="password" matInput placeholder="Mot de passe" required formControlName="password">
            <mat-error *ngIf="form.get('password').hasError('required')">
                Champs requis
            </mat-error>
            <mat-error *ngIf="form.get('password').hasError('minlength')">
                Minimum 8 caractères
            </mat-error>
        </mat-form-field>
        
        <mat-form-field class="elem-form">
            <input type="text" matInput placeholder="Nom"  required formControlName="name">
            <mat-error *ngIf="form.get('name').hasError('required')">
                Champs requis
            </mat-error>
        </mat-form-field>
    
        <span formGroupName="address">
            <mat-form-field class="elem-form">
                <input matInput placeholder="Localité" formControlName="locality">
            </mat-form-field>
    
            <mat-form-field class="elem-form">
                <mat-label>Code Postal</mat-label>
                <mat-select  formControlName="postCode">
                    <mat-option *ngFor="let code of postCodes" [value]="code">
                        {{code}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            
            <mat-form-field class="elem-form">
                <input matInput placeholder="Rue"  formControlName="street">
            </mat-form-field>
    
            <mat-form-field class="elem-form">
                <input matInput placeholder="Numéro de la rue" formControlName="streetNumber">
            </mat-form-field>
        </span>
    
        <mat-form-field class="elem-form">
            <span matPrefix>+32 &nbsp;</span>
            <input type="tel" matInput placeholder="Telephone"  formControlName="phone">
        </mat-form-field>1
    
        <mat-form-field class="elem-form">
            <textarea matInput placeholder="Description" formControlName="description"></textarea>
        </mat-form-field>
    
        <button id=button mat-raised-button color="primary" [disabled]="!form.valid">Valider</button>
    </form>
</div>
