<p>login works!</p>

<div>
    <form [formGroup]="form" (ngSubmit)="logIn()">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" required formControlName="email">
          <mat-error *ngIf="form.get('email').hasError('email')">
            Format d'email non valide
          </mat-error>
          <mat-error *ngIf="form.get('email').hasError('required')">
              Champs requis
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input type="password" matInput placeholder="Mot de passe" required formControlName="password">
            <mat-error *ngIf="form.get('password').hasError('required')">
              Champs requis
          </mat-error>
          <mat-error *ngIf="form.get('password').hasError('minlength')">
              Minimum 8 caractères
          </mat-error>
        </mat-form-field>
    </form>
    <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="logIn()">Se connecter</button>
    <button mat-raised-button color="accent" routerLink="/formcompany">S'inscrire</button>
</div>