<p>form-student works!</p>

<button mat-raised-button color="primary" routerLink="/students">Retour</button>
<div id="wrapper">
<h1>Formulaire de l'étudiant</h1>
<form (ngSubmit)="updateStudent()" [formGroup]="form">
        <mat-form-field class="elem-form">
            <input type="text" matInput placeholder="Email" required formControlName="email">
            <mat-error *ngIf="form.get('email').hasError('email')">
                Format d'email non valide
            </mat-error>
            <mat-error *ngIf="form.get('email').hasError('required')">
                Champs requis
            </mat-error>
        </mat-form-field>

        <mat-form-field class="elem-form">
            <input type="password" matInput placeholder="Mot de passe" required formControlName="password">
            <mat-error *ngIf="form.get('password').hasError('required')">
                Champs requis
            </mat-error>
            <mat-error *ngIf="form.get('password').hasError('minlength')">
                Minimum 8 caractères
            </mat-error>
        </mat-form-field>
        
        <mat-form-field class="elem-form">
            <input type="password" matInput placeholder="Confirmation du mot de passe" required formControlName="confirmPassword">
            <mat-error *ngIf="form.get('password').hasError('required')">
                Champs requis
            </mat-error>
            <mat-error *ngIf="form.get('password').hasError('minlength')">
                Minimum 8 caractères
            </mat-error>
        </mat-form-field>
    
        <mat-form-field class="elem-form">
            <input type="text" matInput placeholder="Nom"  required formControlName="lastName">
            <mat-error *ngIf="form.get('lastName').hasError('required')">
                Champs requis
            </mat-error>
        </mat-form-field>
    
        <mat-form-field class="elem-form">
                <input type="text" matInput placeholder="Prénom" required formControlName="firstName">
                <mat-error *ngIf="form.get('firstName').hasError('required')">
                    Champs requis
                </mat-error>
        </mat-form-field>

        <span formGroupName="address">

            <mat-form-field class="elem-form">
                <input matInput placeholder="Localité" formControlName="locality" required>
                <mat-error *ngIf="form.get('address').get('locality').hasError('required')">
                    Champs requis
                </mat-error>
            </mat-form-field>
    
            <mat-form-field class="elem-form">
                <input matInput placeholder="Code Postal"  formControlName="postCode" required>
                <mat-error *ngIf="form.get('address').get('postCode')">
                    Champs requis
                </mat-error>
            </mat-form-field>
            
            <mat-form-field class="elem-form">
                <input matInput placeholder="Rue"  formControlName="street">
            </mat-form-field>
    
            <mat-form-field class="elem-form">
                <input matInput placeholder="Numéro de la rue" formControlName="streetNumber">
            </mat-form-field>

            <mat-form-field class="elem-form">
                <input matInput placeholder="Pays" formControlName="country" required>
            </mat-form-field>

        </span>

        <mat-label>Sections *</mat-label>
        <mat-select formControlName="section">
            <mat-option *ngFor="let section of sections" [value]="section" required>
                {{section}}
            </mat-option>
        </mat-select>
        <button id="button" mat-raised-button color="primary" [disabled]="!form.valid">Valider</button>
    </form>
    
</div>
