<p>display-data works!</p>
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrer">
</mat-form-field>
<mat-table [dataSource]="data" class="mat-elevation-z8" matSort>
    <ng-container [matColumnDef]="column" *ngFor="let column of colNames">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element[column]}} </mat-cell>  
    </ng-container>
    <mat-header-row *matHeaderRowDef="colToDisplay"></mat-header-row>
    <mat-row *matRowDef="let row; columns: colToDisplay;" 
    (click)="selectElement(row)" 
    (click)="selection.toggle(row)"
    [ngClass] = "{hover : row.hovered, highlighted : selection.isSelected(row)}"
    (mouseover)= "row.hovered = true"
    (mouseout) = "row.hovered = false"
    >
    </mat-row>
</mat-table>
<!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
<div id="wrapperButtons">
  <button mat-raised-button color="primary" (click)="addElement()">Ajouter</button>
  <button mat-raised-button color="accent" (click)="editElement()">Modifier</button>
  <button mat-raised-button color="warn" (click)="deleteElement()">Supprimer</button>
</div>